
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="format-detection" content="telephone=no">

<title>{{seometa.title}}</title>
<meta name="description" content="{{seometa.description}}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{seometa.canonical}}">

<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:title" content="{{seometa.title}}">
<meta property="og:description" content="{{seometa.description}}">
<meta property="og:url" content="{{seometa.canonical}}">
<meta property="og:site_name" content="">
<meta property="og:updated_time" content="2025-02-01T08:38:42+00:00">
<meta property="og:image" content="">
<meta property="og:image:secure_url" content="">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:image:alt" content="">
<meta property="og:image:type" content="image/jpeg">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{seometa.title}}">
<meta name="twitter:description" content="{{seometa.description}}">
<meta name="twitter:image" content="">
<meta name="twitter:site" content="">
<meta name="twitter:creator" content="">
