<div class="flex-1 p-3 bg-gray-100">
    <h1 class="text-2xl font-bold mt-4">Welcome Admin</h1>
   
   
   <div class="w-[95%] flex justify-between gap-8 py-6 px-6 bg-white mt-5 rounded-lg shadow-md">
       <div class="img-section w-full flex flex-col items-center bg-gray-100 py-4 rounded-xl shadow-lg">
          <svg xmlns="http://www.w3.org/2000/svg" width="77" height="76" viewBox="0 0 24 24"><path fill="#317867" d="M12 2a5 5 0 1 1-5 5l.005-.217A5 5 0 0 1 12 2m2 12a5 5 0 0 1 5 5v1a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-1a5 5 0 0 1 5-5z"/></svg>
           <h3 class="text-lg font-semibold mt-4">Total Users</h3>
           <p class="text-xl font-bold text-white">12,345</p>
       </div>
   
       <div class="img-section w-full  flex flex-col items-center bg-gray-100 py-4 rounded-xl shadow-lg">
          <svg xmlns="http://www.w3.org/2000/svg" class="opacity-30" width="77" height="76" viewBox="0 0 48 48"><path fill-rule="currentColor" fill="#317867" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M8.339 23.276v10.767l15.654 2.941V13.519" stroke-width="1"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M39.562 23.561v10.294l-15.569 3.129" stroke-width="1"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m28.775 22.075l13.386 1.844a1.176 1.176 0 0 0 1.236-1.643l-3.835-8.632l-15.57-2.628L8.34 13.77l-3.73 8.016a1.176 1.176 0 0 0 1.149 1.67l13.338-.927a1.47 1.47 0 0 0 1.24-.865l3.655-8.144l3.653 7.727a1.47 1.47 0 0 0 1.129.828m-17.87 8.589l2.941.313" stroke-width="1"/></svg>
           <h3 class="text-lg font-semibold mt-4">Total Orders</h3>
           <p class="text-xl font-bold text-white">8,210</p>
       </div>
   
       <div class="img-section w-full flex flex-col items-center bg-gray-100 py-4 rounded-xl shadow-lg">
          <svg xmlns="http://www.w3.org/2000/svg" class="opacity-30" width="77" height="76" viewBox="0 0 48 48"><path fill="currentColor" fill-rule="evenodd" d="M24.039 6c-4.517 0-8.632 1.492-11.067 2.711q-.33.165-.616.322c-.378.206-.7.398-.956.567l2.77 4.078l1.304.519c5.096 2.571 11.93 2.571 17.027 0l1.48-.768L36.6 9.6a16 16 0 0 0-1.689-.957C32.488 7.437 28.471 6 24.04 6m-6.442 4.616a25 25 0 0 1-2.901-.728C16.978 8.875 20.377 7.8 24.04 7.8c2.537 0 4.936.516 6.92 1.17c-2.325.327-4.806.882-7.17 1.565c-1.86.538-4.034.48-6.192.081m15.96 5.064l-.246.124c-5.606 2.828-13.042 2.828-18.648 0l-.233-.118C6.008 24.927-.422 41.997 24.039 41.997S41.913 24.61 33.557 15.68M23 24a2 2 0 1 0 0 4zm2-2v-1h-2v1a4 4 0 0 0 0 8v4c-.87 0-1.611-.555-1.887-1.333a1 1 0 1 0-1.885.666A4 4 0 0 0 23 36v1h2v-1a4 4 0 0 0 0-8v-4c.87 0 1.611.555 1.887 1.333a1 1 0 1 0 1.885-.666A4 4 0 0 0 25 22m0 8v4a2 2 0 1 0 0-4" clip-rule="evenodd"/></svg>
           <h3 class="text-lg font-semibold mt-4">Total Sales</h3>
           <p class="text-xl font-bold text-white">$456,789</p>
       </div>
   
       <div class="img-section w-full flex flex-col items-center bg-gray-100 py-4 rounded-xl shadow-lg">
          <svg xmlns="http://www.w3.org/2000/svg" height="77" width="76"><path fill-rule="nonzero" fill="#317867" d="m60.91 71.846 12.314-19.892c3.317-5.36 3.78-13.818-2.31-19.908l-26.36-26.36c-4.457-4.457-12.586-6.843-19.908-2.31L4.753 15.69c-5.4 3.343-6.275 10.854-1.779 15.35a7.773 7.773 0 0 0 7.346 2.035l7.783-1.945a3.947 3.947 0 0 1 3.731 1.033l22.602 22.602c.97.97 1.367 2.4 1.033 3.732l-1.945 7.782a7.775 7.775 0 0 0 2.037 7.349c4.49 4.49 12.003 3.624 15.349-1.782Zm-24.227-46.12-1.891-1.892-1.892 1.892a2.342 2.342 0 0 1-3.312-3.312l1.892-1.892-1.892-1.891a2.342 2.342 0 0 1 3.312-3.312l1.892 1.891 1.891-1.891a2.342 2.342 0 0 1 3.312 3.312l-1.891 1.891 1.891 1.892a2.342 2.342 0 0 1-3.312 3.312Zm14.19 14.19a2.343 2.343 0 1 1 3.315-3.312 2.343 2.343 0 0 1-3.314 3.312Zm0 7.096a2.343 2.343 0 0 1 3.313-3.312 2.343 2.343 0 0 1-3.312 3.312Zm7.096-7.095a2.343 2.343 0 1 1 3.312 0 2.343 2.343 0 0 1-3.312 0Zm0 7.095a2.343 2.343 0 0 1 3.312-3.312 2.343 2.343 0 0 1-3.312 3.312Z"></path></svg>  
           <h3 class="text-lg font-semibold mt-4">Total Profit</h3>
           <p class="text-xl font-bold text-white">$78,900</p>
       </div>
   </div>
   
   <div class="mt-12 py-4 w-[95%] px-3 bg-white rounded-lg shadow-md">
           <!-- Table Header -->
           <div class="flex bg-[#316155] rounded-lg text-white items-center border-b border-gray-300 px-4 py-3 font-medium">
               <p class="w-1/4 text-center">Order No.</p>
               <p class="w-1/4 text-center">Customer Name</p>
               <p class="w-1/4 text-center">Product Name</p>
               <p class="w-1/4 text-center">Price</p>
               <p class="w-1/4 text-center">Status</p>
               <p class="w-1/4 text-center">Action</p>
           </div>
       <div id="orders-list" class="divide-y mt-2 divide-gray-200">
           <div class="flex items-center px-4 py-3">
               <p class="w-1/4 text-center">120</p>
               <p class="w-1/4 text-center">Aman Singh</p>
               <p class="w-1/4 text-center">Shoes</p>
               <p class="w-1/4 text-center">₹ 3000</p>
               <p class="w-1/4 text-center">Pending</p>
               <div class="w-1/4 flex justify-center">
               
                <div class="flex items-center justify-start gap-3">
                       <select id="statusSort" class="bg-white border border-gray-300 text-gray-700 px-7 py-2 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-[#429A86] focus:border-[#429A86]">
                           <option value="price-high">Dispatched</option>
                           <option value="price-low">Pending</option>
                           <option value="rating-high">Delivered</option>
                       </select>
                </div>
               </div>
           </div>
           <div class="flex items-center px-4 py-3">
            <p class="w-1/4 text-center">120</p>
            <p class="w-1/4 text-center">Aman Singh</p>
            <p class="w-1/4 text-center">Shoes</p>
            <p class="w-1/4 text-center">₹ 3000</p>
            <p class="w-1/4 text-center">Pending</p>
            <div class="w-1/4 flex justify-center">
            
             <div class="flex items-center justify-start gap-3">
                    <select id="statusSort" class="bg-white border border-gray-300 text-gray-700 px-7 py-2 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-[#429A86] focus:border-[#429A86]">
                        <option value="price-high">Dispatched</option>
                        <option value="price-low">Pending</option>
                        <option value="rating-high">Delivered</option>
                    </select>
             </div>
            </div>
          </div>
          <div class="flex items-center px-4 py-3">
            <p class="w-1/4 text-center">120</p>
            <p class="w-1/4 text-center">Aman Singh</p>
            <p class="w-1/4 text-center">Shoes</p>
            <p class="w-1/4 text-center">₹ 3000</p>
            <p class="w-1/4 text-center">Pending</p>
            <div class="w-1/4 flex justify-center">
            
             <div class="flex items-center justify-start gap-3">
                    <select id="statusSort" class="bg-white border border-gray-300 text-gray-700 px-7 py-2 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-[#429A86] focus:border-[#429A86]">
                        <option value="price-high">Dispatched</option>
                        <option value="price-low">Pending</option>
                        <option value="rating-high">Delivered</option>
                    </select>
             </div>
            </div>
        </div>
        <div class="flex items-center px-4 py-3">
            <p class="w-1/4 text-center">120</p>
            <p class="w-1/4 text-center">Aman Singh</p>
            <p class="w-1/4 text-center">Shoes</p>
            <p class="w-1/4 text-center">₹ 3000</p>
            <p class="w-1/4 text-center">Pending</p>
            <div class="w-1/4 flex justify-center">
            
             <div class="flex items-center justify-start gap-3">
                    <select id="statusSort" class="bg-white border border-gray-300 text-gray-700 px-7 py-2 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-[#429A86] focus:border-[#429A86]">
                        <option value="price-high">Dispatched</option>
                        <option value="price-low">Pending</option>
                        <option value="rating-high">Delivered</option>
                    </select>
             </div>
            </div>
        </div>
        <div class="flex items-center px-4 py-3">
            <p class="w-1/4 text-center">120</p>
            <p class="w-1/4 text-center">Aman Singh</p>
            <p class="w-1/4 text-center">Shoes</p>
            <p class="w-1/4 text-center">₹ 3000</p>
            <p class="w-1/4 text-center">Pending</p>
            <div class="w-1/4 flex justify-center">
            
             <div class="flex items-center justify-start gap-3">
                    <select id="statusSort" class="bg-white border border-gray-300 text-gray-700 px-7 py-2 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-[#429A86] focus:border-[#429A86]">
                        <option value="price-high">Dispatched</option>
                        <option value="price-low">Pending</option>
                        <option value="rating-high">Delivered</option>
                    </select>
             </div>
            </div>
        </div>
       </div>
   </div>
   
   </div>