
<h1 class="text-[30px] tracking-wide font-extrabold text-gray-700">Settings</h1>
<p class="text-gray-500 tracking-wide">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse ab incidunt maiores</p>


<div class="bg-white flex gap-10 rounded-lg shadow-md justify-between py-10 w-[60%] px-5 mt-10">
     <div class="flex flex-col gap-6 ">
        <div class="flex gap-6 items-center">
            <label class="w-1/4" for="">Name</label>
            <input class="border-[1px] rounded-lg border-gray-400" type="text">
        </div>

        <div class="flex gap-6 items-center">
            <label class="w-1/4" class="" for="">Email</label>
            <input class="border-[1px] rounded-lg border-gray-400" type="text">
        </div>

    
     </div>
     <div class="text-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-20 border-[1px] border-gray-500 p-2 h-20 rounded-full" viewBox="0 0 24 24"><path fill="#317867" d="M12 2a5 5 0 1 1-5 5l.005-.217A5 5 0 0 1 12 2m2 12a5 5 0 0 1 5 5v1a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-1a5 5 0 0 1 5-5z"/></svg>
        <p class="mt-2 text-[14px] tracking-wide">ADMIN</p>
    </div>
</div>